body {
  background-color: rgb(16, 15, 71);
}

h1 {
  color: white;
  text-align:center;
  padding: 30px 10px 10px
}

h2 {
  color: white;
  text-align:center;
  margin-block-end: 10px;
  margin-block-start: 10px;
}

h3 {
  color: white;
  font-size: 1em;
}

h4{
  color:white;
  font-size: 1.2em;
  text-align: left;
  margin-block-end: 1px;
  padding: 6px;
}

a{
  text-decoration: none;
}

.main-container {
  background-color: rgb(16, 15, 71);
  height:1000px;
  width: 100%;
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  grid-gap: 50px;
  margin: 20px;
  text-align: center;
}

.grid-item {
 overflow: hidden;
  background: rgba(245, 182, 240, 0.5);
}

.grid-item:hover, .grid-item:hover h2, .grid-item:hover h3, .grid-item:hover h4 {
  background: rgba(245, 182, 240, 1);
  color: black;
}