 * { 
  font-weight: normal;
}

.banner {
  overflow: hidden;
  display: inline-block;
  height: 20%;
  width: 100%;
  background-color: rgb(100, 192, 177);
  text-align: center;
}

.box {
  display: inline-block;
  overflow: hidden;
  /* width: 10vh; */
  height: 5vh;
  border: 2px solid rgba(255, 255, 255, 0.45);
  text-align: center;
  padding: 8px 8px 8px;
  margin: 25px 20px 0px;
}

h1 {
  font-size: 32px;
  font-style: oblique;
  color: white;
  margin-block-start: 10px;
  margin-block-end: 0px;
}

.initials {
  font-size: 25px;
  color:rgba(255, 255, 255, 0.7);
  margin-block-start: 5px;
  margin-block-end: 0px;
}

h3 {
  font-size: 17px;
  font-style: oblique;
  font-weight: 550;
}

h4 {
  font-size: 14px;
  margin-block-start: 3px;
  margin-block-end: 0px;
}
.workplace {
  font-weight: bold;
}

.workdate {
  font-style: italic;
  margin-block-end: px;
}

.email {
  font-size: 16px;
  font-style: italic;
  margin-block-start: 4px;
  margin-block-end: 0px;
  color: rgb(77, 77, 77);
  font-weight: normal;
}

.phone {
  font-size: 14px;
  margin-block-start: 2px;
  margin-block-end: 0px;
  color: rgb(77, 77, 77);
  font-weight: normal;
}

.address {
  font-size: 14px;
  margin-block-start: 2px;
  margin-block-end: 4px;
  color: rgb(77, 77, 77);
  font-weight: normal;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.left {
  width: 60%;
  height: 100%;
  background: white;
  float: left;
  padding: 20px;
}

.right {
  overflow: auto;
  margin-left: 60%;
  height: 100%;
  background: rgb(243, 242, 242);
  padding: 20px;
}

ul {
  padding-inline-start: 10px;
}

.workhistory{
  padding-inline-start: 15px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

li {
  padding: 2px 0px;
  font-size: 15px;
}

hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(182, 177, 177);
    margin: 1em 0;
    padding: 0;
}

b {
  font-weight: bold;
}