body{
  margin: 0px;
}

img {
  height: 200px;
  width: auto;
}

.image {
  display: inline-block;
  overflow: hidden;
  background-color: black;
  text-align: center;
  width: 80%;
  margin: 10% 10% 0%;
}

h1 {
  margin: 10% 10% 0%;
  margin-block-start: 5%;
  font-weight: normal;
  font-size: 26px;
}

p {
  margin: 3% 10%;
}

button {
  height: 30px;
  font-size: 14px;
  color: white;
  margin: 2% 70% 3% 10%;
  background-color: gray !important;
}

h2 {
  margin: 10% 0%;
  font-size: 16px;
}

a {
  display: block;
  color: white;
}

.links {
  color: white;
  margin-block-start: 20%;
font-size: 18px;
}

hr {
  margin-block-end: 0.4em;
  margin-block-start: 0.4em;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  margin-block-start: 0em;
  margin-block-end: 0.7em;
}

.nav {
  background-color: gray;
  height: auto;
  width: auto;
}

.left-nav {
  float: left;
  display: inline-block;
  background-color: none;
  width: 30%;
  margin: 0% 0% 0% 10%;
  height: 100%;
}

.right-nav {
  display: inline-block;
  background-color: none;
  width: 30%;
  margin: 0% 0% 0% 10%;
  height: 100%;
}

.stories {
  display: none;
}

/* @media (min-width: 576px) {

} */

/* Medium and up (Tablets) */
@media (min-width: 768px) {
  .nav {
  display: none;
}

.image {
  width: auto;
  margin: 10% 10% 0% 10%;
}

img {
  height: 400px;
  width: auto;
}

.stories {
  display: none;
}
}
/* By the look of the picture i'm trying to copy for tablet, it seems I should have this in landscape orientation...rightttt? */

@media (orientation: landscape) {

  .nav {
  display: none;
}

.image {
  width: 75%;
  margin: 10% 10% 0%;
}

img {
  height: 400px;
  width: auto;
}

  .stories {
    display: none;
  }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {

  .headline {
    height: 60%;
  }

  .image {
    float: left;
    width: 60%;
    margin: 4% 2% 0% 5%;
  }

.top {
  margin: 10% 3% 5% 0%;
  font-size: 18px;
}

  .stories {
    display: inline-block;
    float: right;
    width: 30%;
    margin: 0%;
    padding: 1%;
    height: 500px;
  }
  
  .news {
    font-weight: bold;
  }

  h1 {
    margin: 10% 5% 0%;
    margin-block-start: 5%;
    font-weight: normal;
    font-size: 26px;
  }
  
  p {
    margin: 2% 5%;
  }
  
  button {
    height: 30px;
    font-size: 14px;
    color: white;
    margin: 0% 70% 3% 5%;
    background-color: gray !important;
  }
}
